.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

@media screen and (max-width:570px) {
    .container {
        flex-direction: column;
    }

    .product-image {
        align-self: center;
        width: 100%;
    }

    .product-image img {
        width: 100%;
    }
}
