.button {
    padding: 10px 15px;
    min-width: 70px;
    border: none;
    border-radius: 50px;
    margin: 1px;
    cursor: pointer;
    transition: transform ease 0.3s;
}

.blue {
    background-color: blue;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.green {
    background-color: green;
    color: white;
}

.center {
    align-self: center;
}

.button:hover {
    transform: translateY(-8%);
}

.button:active {
    transform: translateY(0);
}

.button:disabled {
    transform: translateY(0);
    cursor: auto;
}

.blue:disabled {
    background-color: rgb(87, 87, 225);
}
