.product {
    display: flex;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.728);
    border-radius: 10px;
    gap: 20px;
    transform: translateY(-14%);
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow:1;
    padding-right: 50px;
}

.product-image {
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 5px;
}

.product-image img {
    width: 100%;
    height: 100%;
}

.textarea {
    font-family: inherit;
    border: none;
    width: 100%;
}

.textarea:focus {
    outline: none;
}

.input {
    font-family: inherit;
    border: none;
}

.input:focus {
    outline: none;
}

.input-con {
    align-self: flex-start;
    display: inline-block;
    border: 1px solid rgb(203, 203, 203);
    padding: 8px;
    background-color: white;
    border-radius: 4px;
    width: 100%;
    margin: 5px 0;
}

.title {
    font-size: 1.3em;
}

.rating {
    display: flex;
    justify-content: space-between;
}

.icon {
    height: 12px;
}

.price {
    font-size: 1.4em;
    font-weight: 700;
}

.category {
    font-size: 0.8em;
    color: rgb(89, 89, 89);
    text-transform: capitalize;
}

.label {
    font-size: 1em;
}

.back {
    opacity: 0.5;
    cursor: pointer;
    align-self: flex-start;
    transform: translateX(-120%);    
}

.back:hover {
    opacity: 0.8;
}

@media screen and (max-width:864px) {
    .product {
        flex-direction: column;
        transform: translateY(0);
    }

    .product-image {
        align-self: center;
        width: 100%;
    }

    .product-image img {
        width: 100%;
    }
}