.nav {
    padding: 15px 0;
    background-color: white;
    font-size: 1.4em;
    border: 1px solid rgb(216, 216, 216);
}

.navigation {
    max-width: 1000px;
    margin: 0 auto;
}

.logo {
    margin: 0 20px;
    font-weight: 700;
}