.product-item {
    display: flex;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.728);
    border-radius: 10px;
    gap: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow:1;
    padding-right: 50px;
}

.image {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 5px;
}

.image img {
    width: 100%;
    height: 100%;
}

.textarea {
    font-family: inherit;
    border: none;
    width: 100%;
}

.textarea:focus {
    outline: none;
}

.input {
    font-family: inherit;
    border: none;
    width: 100%;
}

.input:focus {
    outline: none;
}

.input-con {
    align-self: flex-start;
    display: inline-block;
    border: 1px solid rgb(203, 203, 203);
    padding: 8px;
    background-color: white;
    border-radius: 4px;
    width: 100%;
    margin: 5px 0;
}

.title {
    font-size: 1.3em;
}

.rating {
    display: flex;
    justify-content: space-between;
}

.icon {
    height: 12px;
}

.price {
    font-size: 1.4em;
    font-weight: 700;
}

.category {
    font-size: 0.8em;
    color: rgb(89, 89, 89);
    text-transform: capitalize;
}

.label {
    font-size: 1em;
}

.red-text {
    color: red;
    font-size: 0.7em;
}

@media screen and (max-width:864px) {
    .product-item {
        flex-direction: column;
        /* transform: translateY(0); */
    }

    .image {
        align-self: center;
        width: 200px;
    }

    .info {
        padding-right: 0;
    }
}